* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 960px;
    margin: 1rem auto;
}

h1 {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#columns {
    font-size: 0;
}

.column {
    font-size: 1rem;
    display: inline-block;
    width: 33.3333%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
}